
header {
    background-color: #333;
   display: flex;
    padding: 10px 0;
}

header img {
    padding: 30px;;
}

nav ul {
    display: flex;
    flex-direction: row;
    color: darkgrey;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    text-align: center;
    padding: 10px;
}


body > img:last-of-type {
    width: 480px;
    height: 400px;
    object-fit: cover;
    float: left;
    clear: both;
    margin-bottom: 20px; 
}

section {
    margin-left: 520px; /* Adjust according to the image width plus some extra space */
}


footer {
    position: fixed;
    background-color: #333;

}
